.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }

.logo img {
    width: 500px;
    height: 450px;
    padding-top:3em ;
    margin: auto;
}
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #23232e;
    height: 15vh;
  }
  
  main {
    background: url("bg.jpg") no-repeat center center;
    background-size: cover;
    height: 92vh;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }